@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html, body {
    wdith: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 15px;
    font-family: 'Roboto Slab', sans-serif;
}
p {
    margin: 0px 0px 15px;
}
a {
    color: #5b7c99;
}


.flex {
    flex: 1;
}
.text-left {
    text-align: left;
}

.btn {
    transition: all 0.2s ease-out;
}
.btn-outline {
    display: inline-block;
    padding: 5px 10px !important;
    font-family: 'Roboto Slab', sans-serif;
    color: #5b7c99;
    text-align: left;
    text-decoration: none;
    border: 1px solid #5b7c99;
}
.btn-outline .fa {
    margin-right: 5px;
}
.btn-outline:hover {
    color: white;
    background-color: #5b7c99;
}
.btn-icon {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid transparent;
}
.btn-icon:hover {
    border: 1px solid #5b7c99;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px;
    padding: 30px;
}
img.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #5b7c99;
}

ul.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin: 5px 0px 0px;
    padding: 0px;
    list-style-type: none;
}
ul.icons li {
    display: inline-block;
    padding-top: 5px;
}
ul.icons li a {
    font-size: 16px;
    padding: 8px;
}

@media (max-width: 500px) {
    .container {
        display: block;
        padding: 60px;
        text-align: center;
    }
}
